#weather-div {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    border: groove;

}

#note-div {
    margin-right: auto;
    border:thin;
    text-align: right;
    color: red;
}


#table-data {
    align-content: center;
}